@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*
.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500, 700;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

*/

:root {
/* ======================
        Colors
====================== */
/* Primary */

--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);

/* Neutral */

--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);

/* ======================
        Fonte
====================== */

--font1: "Fraunces", serif;
--font2: "Montserrat", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F3EAE3;
    font-size: 14px;
}

div#card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 21.875rem;
    background-color: var(--White);
    border-radius: 12px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

div#imagem {
    height: 21.375rem;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
}

section#content {
    margin: 2rem;
}

span#titulo {
    font-family: var(--font2);
    font-size: 0.875rem;
    color: var(--Grey);
}

h1 {
        padding: 1.5rem 0;
        font-family: var(--font1);
        font-size: 2rem;
        line-height: 2rem;
        color: var(--Green-700);
    }

    p {
        line-height: 1.5rem;
        font-family: var(--font2);
        font-size: 0.875rem;
        color: var(--Grey);
    }

div#preco {
    display: flex;
    padding: 1.5rem 0;
    align-items: center;
    gap: 1rem;
}

span#preco1 {
    font-family: var(--font1);
    color: var(--Green-500);
    font-size: 1.8rem;
    font-weight: 700;
}

span#preco2 {
    font-family: var(--font2);
    font-size: 0.875rem;
    color: var(--Grey);
}

#btn {
    display: flex;
    height: 3.125rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--Green-500);
    font-size: 0.875rem;
    color: var(--White);
    border: none;
    border-radius: 10px;
}

#btn > img {
    padding-right: 10px;
}

#btn:hover {
    background-color: var(--Green-700);
    cursor: pointer;
}
@media screen and (min-width: 800px) {
    div#card {
        height: 28rem;
        width: 40rem;
    }

    div#imagem {
        float: left;
        width: 50%;
        height: 100vh;
        background-image: url(images/image-product-desktop.jpg);
        background-size: contain;
        mask-repeat: no-repeat;
    }

    section#content {
        float: right;
        width: 40%;
        height: 100vh;
    }

    p {
        font-size: 1rem;
    } 

    #btn {
        font-size: 1rem;
    }
}